{{ partial "header.html" . }}

<ul class="space-y-6">
  {{ range $index, $val := $.Paginator.Pages }}
  <li class="bg-white shadow hover:shadow-lg rounded-lg">
    <a
      href="{{ .RelPermalink }}"
      class="block p-6 hover:text-blue-600 no-underline"
    >
      {{ if .Params.images }}
      <div class="mb-4">
        <img src="{{ index (.Params.images) 0 }}" class="rounded-lg" />
      </div>
      {{ end }}

      <div>
        <h2 class="text-2xl mb-2">{{ .Title }}</h2>
        <span class="block text-gray-500 mb-4">
          {{ .Date.Format "Jan 02, 2006" }} by {{ .Params.author }}
        </span>
        <p>{{ .Summary }}</p>
      </div>
    </a>
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
