{{ partial "header.html" . }}

<div class="container flex flex-col items-center">
  {{ if .Params.images }}
  <div>
    <img width="736" height="490" src="{{ index (.Params.images) 0 }}" />
  </div>
  {{ end }}

  <h1>{{ .Title }}</h1>

  {{ $date := .Params.date.Format "Jan 2, 2006" }} {{ if .Params.author }}
  <p>
    By {{ .Params.author }} {{ if (gt .Params.date 0) }} on {{ $date }} {{ end
    }}
  </p>
  {{ end }}
  <main>
    {{ if .Params.toc }}
    <h2>Table of Contents</h2>
    <aside>{{.TableOfContents}}</aside>
    {{ end }} {{ .Content }}
  </main>
</div>
{{ partial "footer.html" . }}
