<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title .Title }}</title>

    {{ $tailcss := resources.Get "css/tail-out.css" }}
    <link href="{{ $tailcss.RelPermalink }}" rel="stylesheet" />

    {{ $stylescss := resources.Get "css/styles.css" }}
    <link href="{{ $stylescss.RelPermalink }}" rel="stylesheet" />

    {{ $highlightcss := resources.Get "css/syntax.css" }}
    <link href="{{ $highlightcss.RelPermalink }}" rel="stylesheet" />

    {{ partial "favicons.html" . }}
  </head>

  <body>
    <header class="mx-auto px-4 py-2">
      <a href="/" class="text-2xl text-gray-600 no-underline">Learning Go</a>
    </header>
    <div class="max-w-screen-md mx-auto px-4 sm:px-6 lg:px-8 flex flex-col items-start lg:items-center">